<div class="subscription-reminder-form">
  <%= simple_form_for(user_subscription) do |f| %>
    <%= f.association :subscription, collection: Subscription.order('name ASC'), input_html: { class: 'select2' } %>
    <div class="form-row">
      <div class="col">
        <%= f.input :start_date, as: :date, html5: true %>
      </div>
      <div class="col">
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
    </div>

    <%= f.input :payment_date, as: :date, html5: true, label: "Payment date ðŸ’³" %>
    <%= f.input :cost, label: "Cost ðŸ’°", placeholder: "Â£"%>
    <%= f.association :billing_plan, label: "Billing Plan â°" %>

    <div class="text-right">
      <%= link_to "Cancel", :back, class: "btn btn-outline-secondary mt-3" %>
      <%= f.submit "Submit", class: 'btn btn-primary mt-3 ml-2' %>
    </div>
  <% end %>
</div>
