<div class="subscription-reminder-form">
  <%= simple_form_for(user_subscription) do |f| %>
  <%= f.association :subscription, collection: Subscription.order('name ASC')%>

  <div class="form-row">
    <div class="col">
      <%= f.input :start_date, as: :date, html5: true %>
    </div>
    <div class="col">
      <%= f.input :end_date, as: :date, html5: true %>
    </div>
  </div>

  <%= f.input :payment_date, as: :date, html5: true, label: "Payment date ðŸ’³" %>
  <%= f.input :cost, label: "Cost ðŸ’°", placeholder: "Â£"%>
  <%= f.association :billing_plan, label: "Billing Plan â°" %>

    <div class="d-flex justify-content-between align-items-center">
      <p> Would you like to add a reminder? </p>

      <div>
        <div class="yes far fa-3x fa-check-circle"></div>
        <div class="no far fa-3x fa-times-circle"></div>
      </div>

    </div>

      <div>
        <div class="form hide" style="height: 200px;">
          <%= f.simple_fields_for :reminders do |reminder_attributes|%>
            <%= reminder_attributes.input :date, as: :date, html5: true %>
              <%= reminder_attributes.input :details %>
              <% end %>
          </div>
      </div>

     <%= f.submit "Submit", class: 'btn btn-primary mt-3 float-right' %>
      </div>
        <% end %>







<script>
  document.querySelector(".yes").addEventListener("click", () => {
    document.querySelector(".form").classList.remove("hide")
  } )
  document.querySelector(".no").addEventListener("click", () => {
    document.querySelector(".form").classList.add("hide")
  } )
 </script>

