<div class="subscription-reminder-form">
<%= simple_form_for(user_subscription) do |f| %>
   <%= f.association :subscription, collection: Subscription.order('name ASC')%>
  <div class="form-row">
    <div class="col">
      <strong><%= f.input :start_date, as: :date, html5: true %></strong>
    </div>
    <div class="col">
      <strong><%= f.input :end_date, as: :date, html5: true %></strong>
    </div>
  </div>
  <strong><%= f.input :payment_date, as: :date, html5: true, label: "Payment date ðŸ’³" %></strong>
  <strong><%= f.input :cost, label: "Cost ðŸ’°", placeholder: "Â£"%></strong>
  <strong><%= f.association :billing_plan, label: "Billing Plan â°" %></strong>
  <p> Would you like to add a reminder? </p>
<div class="yes btn btn-primary">yes</div>
<div class="no btn btn-secondary">no</div>
<div class="form hide" style="height: 200px;">
   <%= f.simple_fields_for :reminders do |reminder_attributes|%>
      <%= reminder_attributes.input :date, as: :date, html5: true %>
        <%= reminder_attributes.input :details %>
                <% end %>
                 <div class="d-flex justify-content-around align-items-center">

</div>
</div>
    <div>
      <%= f.submit "Submit", class: 'btn btn-primary mt-3' %>
    </div>

  <% end %>

  </div>







<script>
  document.querySelector(".yes").addEventListener("click", () => {
    document.querySelector(".form").classList.remove("hide")
  } )
  document.querySelector(".no").addEventListener("click", () => {
    document.querySelector(".form").classList.add("hide")
  } )
 </script>

