<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="list-subscription-container">
        <h1 class="my-3 text-center">Add your subscription</h1>
        <%= simple_form_for(@user_subscription) do |f| %>
         <%= f.association :subscription %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
           <%= f.input :payment_date %>
          <%= f.input :cost %>
          <%= f.input :type %>
          <%= f.button :submit, class: 'btn btn-primary my-3 mr-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

