<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="list-subscription-container">
        <h1 class="my-3 text-center">Add your subscription</h1>
        <%= simple_form_for(@user_subscription) do |f| %>
        <strong> <%= f.association :subscription %><strong>
         <div class="form-row">
          <div class="col">
            <strong><%= f.input :start_date, as: :date, html5: true %></strong>
          </div>
          <div class="col">
            <strong><%= f.input :end_date, as: :date, html5: true %></strong>
          </div>
        </div>
          <strong><%= f.input :payment_date, as: :date, html5: true, label: "Payment date ðŸ’³" %></strong>
          <strong><%= f.input :cost, label: "Cost ðŸ’°", placeholder: "Â£"%></strong>
         <strong> <%= f.input :billing_period, label: "Billing Period â°" %></strong>
         <%= f.button :submit, "Submit Subscription", class: 'btn btn-primary my-3 mr-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


