<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="list-subscription-container">
        <h1 class="my-3 text-center">Add your subscription</h1>
        <%= simple_form_for(@user_subscription) do |f| %>
         <%= f.association :subscription %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.input :payment_date, as: :date, html5: true %>
          <%= f.input :cost %>
          <%= f.input :billing_period %>
          <%= f.button :submit, class: 'btn btn-primary my-3 mr-3' %>

        <% end %>
      </div>
    </div>
  </div>
</div>

