<% content_for :meta_title, "#{@user_subscription.subscription.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user_subscription.subscription.description %>

<div class="container">
  <div class="list-subscription-container">
    <h1 class="text-center"><%=@user_subscription.subscription.name%></h1>
     <div class="d-flex justify-content-around">
      <div>
        <% if @user_subscription.subscription.logo.attached? %>
          <%= cl_image_tag @user_subscription.subscription.logo.key, height: 150, width: 150, crop: :pad %>
        <% else %>
          <img src="https://res.cloudinary.com/dkyy/image/upload/v1598619290/scriber_gzphbs.png" style="width: 150px; height: 150px;" />
        <% end %>
      </div>

      <div>
        <p><b>Subscription details:</b> <i><%= @user_subscription.subscription.description %></i></p>
        <p><strong>Start date:</strong> <%= @user_subscription.start_date %></p>
        <p><strong>End date: </strong><%= @user_subscription.end_date %></p>
        <p><strong>Payment date: </strong><%= @user_subscription.payment_date %></p>
        <p><strong>Billing plan:</strong> <%= @user_subscription.billing_plan.name %></p>
        <p><strong>Cost:</strong> £<%= number_with_precision(@user_subscription.cost, precision: 2) %></p>

      <div class= "box">
        <% @user_subscription.reminders.each do |reminder|%>
          <div class="reminder-index-item">
            <p><strong>🔔Reminder:</strong> <%= reminder.date %> </p>
            <p><%= reminder.details %> </p>
          </div>
          <% end %>
        </div>



      </div>
    </div>
    <div class="text-right">
      <%= link_to "Add a reminder", new_user_subscription_reminder_path(@user_subscription), class: 'btn btn-primary btn-sm my-3' %>
    </div>
   <p align="right">
      <%= link_to "Delete", user_subscription_path(@user_subscription), method: :delete, data: { confirm: "Delete this subscription?" }, class: "btn btn-danger btn-sm ml-2" %>
      <%= link_to "Edit", edit_user_subscription_path(@user_subscription), class: 'btn btn-primary btn-sm ml-2' %>
      <%= link_to "Back", dashboard_path, class: 'btn btn-primary btn-sm ml-2' %>
   <p align="right">
  </div>
</div>
