<% content_for :meta_title, "#{@user_subscription.subscription.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user_subscription.subscription.description %>

<div class="container">
  <div class="list-subscription-container">
    <h1 class="text-center"> Your Subscription </h1>
     <div class="d-flex justify-content-around">
      <div>
        <h4><%=@user_subscription.subscription.name%></h4>
        <%= cl_image_tag @user_subscription.subscription.logo.key, height: 150, width: 150, crop: :pad %>
      </div>

      <div>
        <p><b>Subscription details:</b> <i><%= @user_subscription.subscription.description %></i></p>
        <p><strong>Start date:</strong> <%= @user_subscription.start_date %></p>
        <p><strong>End date: </strong><%= @user_subscription.end_date %></p>
        <p><strong>Payment date: </strong><%= @user_subscription.payment_date %></p>
          <p><strong>Payment date: </strong><%= @user_subscription.payment_date %></p>
        <% if @date.nil? %>
        <% else %>
          <p>  <%= @date %></p>
          <p><strong> How long have you had your subscription? </strong><%= @date.to_i %> days </p>
        <% end %>
        <p><strong> Billing plan:</strong> <%= @user_subscription.billing_plan.name %></p>
        <p><strong>Cost:</strong> £<%= number_with_precision(@user_subscription.cost, precision: 2) %></p>
      </div>
    </div>
   <p align="right">
      <%= link_to "Edit", edit_user_subscription_path(@user_subscription), class: 'btn btn-primary btn-sm' %>
      <%= link_to "Add a reminder", new_user_subscription_reminder_path(@user_subscription), class: 'btn btn-primary btn-sm' %>
   <p align="right">
  </div>
</div>
