<div class="container">
<p><%=@user_subscription.subscription.name%></p>
<p><%=@user_subscription.subscription.description%></p>
  <p>Start date: <%= @user_subscription.start_date %></p>
  <p>End date: <%= @user_subscription.end_date %></p>
  <p>payment date: <%= @user_subscription.payment_date %></p>
    <p>Billing period: <%= @user_subscription.billing_period %></p>
  <p>Cost: £<%= @user_subscription.cost %></p>
</div>
</div>
