<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <h2 class="text-center mb-3">All subscriptions</h2>
    <%= form_tag dashboard_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Search"
      %>
    <% end %>

    <%= link_to new_user_subscription_path, class: "btn" do %>
      Add Subscription <i class="far fa-calendar-plus"></i>
    <% end %>

    <div class="sub-results">
      <% search_results.each do |user_subscription| %>
        <div class="subscription-item-dash" style="border: 1px solid <%= user_subscription.subscription.category.colour %>; border-left: 8px solid <%= user_subscription.subscription.category.colour %>;">
          
          <div class="sub-item-overlay">
            <%=link_to user_subscription_path(user_subscription) do %>
              <i class="far fa-edit"></i>
            <% end %>

            <%=link_to user_subscription_reminders_path(user_subscription) do %>
            <i class="far fa-bell"></i>
            <% end %>
          </div>

          <% if user_subscription.subscription.logo_url.nil? %>
            <div class="sub-logo-dash">
              <img src="https://res.cloudinary.com/dkyy/image/upload/v1598968617/Logos/scriber_pe33n6.png" alt="" style="width: 70px; height: 70px;">
            </div>
          <% else %>
            <div class="sub-logo-dash">
              <img src="<%= user_subscription.subscription.logo_url %>" alt="" style="width: 70px; height: 70px;">
            </div>
          <% end %>
          
          <div class="sub-info-dash">
            <h3 class="sub-name-dash margin-sm"><%= user_subscription.subscription.name %></h3>
            <p class='sub-next-payment-dash margin-sm'>Next payment: <%= user_subscription.payment_date %></p>
          </div>

          <div class="sub-reg-cost-dash"><h3>£<%= number_with_precision(user_subscription.cost, precision: 2) %></h3></div>
        </div>
      <% end %>
    </div>
  </div>
</div>