<div class="main-dash">
  <div class="subscription-add text-right">
    <%= link_to new_user_subscription_path, class: "btn btn-primary" do %>
      Add subscription <i class="fas fa-plus"></i>
    <% end %>
  </div>

  <div class="row justify-content-around">
    <div class="col-12 col-lg-6">

      <h2 class="mb-3">Current subscriptions</h2>


      <div class="sub-results">
        <% user_subscriptions.each do |user_subscription| %>
          <div class="subscription-item-dash" style="border: 2px solid <%= user_subscription.subscription.category.colour %>; border-left: 8px solid <%= user_subscription.subscription.category.colour %>;">
            <div class="sub-item-overlay">
              <%=link_to user_subscription_path(user_subscription) do %>
                <i class="fas fa-info"></i>
              <% end %>

              <%= link_to edit_user_subscription_path(user_subscription) do %>
                <i class="fas fa-edit"></i>
              <% end %>

              <%= link_to user_subscription_path(user_subscription), method: :delete, data: { confirm: "Are you sure you want to delete this subscription?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>

            <% if user_subscription.subscription.logo_url.nil? %>
              <img src="https://res.cloudinary.com/dkyy/image/upload/v1598968617/Logos/scriber_pe33n6.png" alt="">
            <% else %>
              <img src="<%= user_subscription.subscription.logo_url %>" alt="">
            <% end %>

            <div class="sub-info-dash">
              <h3 class="sub-name-dash"><%= user_subscription.subscription.name %></h3>
              <p class='sub-next-payment-dash'>Next payment: <%= user_subscription.payment_date %></p>
            </div>

            <div class="sub-reg-cost-dash">
              <h3>£<%= number_with_precision(user_subscription.cost, precision: 2) %></h3>
              <% if user_subscription.reminders.length > 0 %>
                <p class="m-0" id="setAlert">🔔</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <h2 class="mb-3">This month</h2>
      <div class="sub-results">
        <% subscriptions_current_month.each do |user_subscription| %>
          <div class="subscription-item-dash" style="border: 1px solid <%= user_subscription.subscription.category.colour %>; border-left: 8px solid <%= user_subscription.subscription.category.colour %>;">

            <div class="sub-item-overlay">
              <%=link_to user_subscription_path(user_subscription) do %>
                <i class="fas fa-info"></i>
              <% end %>

              <%= link_to edit_user_subscription_path(user_subscription) do %>
                <i class="fas fa-edit"></i>
              <% end %>

              <%= link_to user_subscription_path(user_subscription), method: :delete, data: { confirm: "Are you sure you want to delete this subscription?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
            
            <% if user_subscription.subscription.logo_url.nil? %>
              <div class="sub-logo-dash">
                <img src="https://res.cloudinary.com/dkyy/image/upload/v1598968617/Logos/scriber_pe33n6.png" alt="" style="width: 70px; height: 70px;">
              </div>
            <% else %>
              <div class="sub-logo-dash">
                <img src="<%= user_subscription.subscription.logo_url %>" alt="" style="width: 70px; height: 70px;">
              </div>
            <% end %>

            <div class="sub-info-dash">
              <h3 class="sub-name-dash"><%= user_subscription.subscription.name %></h3>
              <p class='sub-next-payment-dash'>Next payment: <%= user_subscription.payment_date %></p>
            </div>

            <div class="sub-reg-cost-dash">
              <h3>£<%= number_with_precision(user_subscription.cost, precision: 2) %></h3>
              <% if user_subscription.reminders.length > 0 %>
                <p class="m-0" id="setAlert">🔔</p>
              <% end %>
            </div>
          </div>
        <% end %>
        <h5 class="text-right mt-3 mr-2"><strong>Total:</strong> £<%=@total_cost %></h5>
      </div>
    </div>
  </div>
</div>